<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TF2 Hat Appraiser</title>
</head>
<body>
    <h1>TF2 Hat Appraiser</h1>
    <hr />
    <p>Fill out the form <em>exactly.</em></p>
    <form method="POST">
        <table>
            <tr>
                <td>Hat name:</td>
                <td><input type="text" name="hatname"></td>
            </tr>
            <tr>
                <td>Hat effect:</td>
                <td><input type="text" name="hateffect"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>